* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #fff;
}

/*block_1*/
.block_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*header*/
.header {
  width: 100%;
  height: 60px;
  padding: 16px 32px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: none;
  position: relative;
  z-index: 9;
}

.header_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-right: 16px;
  color: black;
  text-decoration: none;
}

.header_text:last-child {
  margin-right: 15px;
}

/*infoblock*/
.infoblock {
  height: 500px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0 auto;
}

.infoblock_1 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 25px;
}

.hitext {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: black;
}

.descrptext,
.descrpinformation {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: black;
}

.button {
  background: #ff6464;
  border-radius: 7px;
  width: 208px;
  height: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
  border-color: #ff6464;
}

.img {
  width: 243px;
  height: 243px;
  border-radius: 100%;
}

/*recent posts*/
.block_2 {
  background-color: #edf7fa;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.box {
  max-width: 855px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  max-width: 795px;
  padding-right: 35px;
}

.posts-header-mobile {
  display: none;
  height: 60px;
  align-items: center;
}

.information {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 30px;
}

.infomation-box {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  margin-right: 28px;
}

.information-header {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
}

.information-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
}

.view {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #00a8cc;
  text-decoration: none;
}

.information-date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
