.infoblock {
  height: 500px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0 auto;
}

.infoblock_1 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 25px;
}
.infoimg {
  position: relative;
}

.infoimg::before {
  position: absolute;
  content: "";
  background: #edf7fa;
  width: 100%;
  height: 100%;
  bottom: -7px;
  left: -7px;
  border-radius: 100%;
  z-index: -1;
}

.hitext {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: black;
}

.descrptext {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: black;
}

.button {
  background: #ff6464;
  border-radius: 7px;
  width: 208px;
  height: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
  border-color: #ff6464;
}

.img {
  width: 243px;
  height: 243px;
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  .infoblock {
    display: flex;
    flex-direction: column-reverse;
  }
  .img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  .infoblock_1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .hitext,
  .descrptext {
    text-align: center;
  }
}
